<!DOCTYPE html>
<html>
<title>Your weather report</title>
<body onload="decode_list()">
    {% if failed %}
    <p>No location was input, please <a href={{ url_for('index') }}>try again</a></p>
    {% else %}
    <p>The temperature is:  K</p>
    {% endif %}
</body>
</html>


<script language="JavaScript">
function decode_list(){
        var data = {{ temp  }};
        document.write("The temperature is: <br />");
        for(i=0;i<5;i++){
           document.write(Math.floor((data[i]-273.15)*100)/100+" ℃"+"<br />");
        }
}
</script>